<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>3Dnet </h1>
        <h3>Imprime en 3D al mejor precio</h3>
        <h3>Si tienes impresora, obtén <strong/>beneficios<strong/> alquilando su uso</h3>
        <br></br>
    </header>
    <main class="container">
        <section>
            <p>Empieza ya.</p>

            <a href="/register" class="btn">Registrarme</a>
            <a href="/login" class="btn">Login</a>

        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>
